* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #34495e;
}

#carousel {
    width: 940px;
    height: 600px;
    overflow: hidden;
    border: 4px solid #f39c12;
    border-radius: 50px;
    ul {
        position: relative;
        width: calc(940px*4);
        list-style-type: none;
        li {
            width: 940px;
            height: 600px;
            list-style: none;
            float: left;
        }
    }
}

#nav-arrows {
    position: absolute;
    top: 280px;
    display: flex;
    justify-content: space-between;
    width: 932px;
    padding: 0 10px;
    i {
        color: #f39c12;
        font-size: 70px;
    }

}

#nav-pills {
    position: absolute;
    bottom: 20px;
    width: 932px;
    display: flex;
    justify-content: center;
    .pill {
        border-radius: 50%;
        height: 15px;
        width: 15px;
        background: #f39c12;
        border: 2px solid #f39c12;
        margin: 20px 10px;
    }
}

